body {
   	   background: #d0d984;
	   color: #000000;
   }
 {
    font-family: Verdana, Georgia, Helvetica, sans-serif;
   }
   p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
   }